.newSticker {
    position: absolute;
    top: 15px;
    right: 15px;
    background: $tertiary-color;
    color: $tertiarty-color-text;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 2px
} 