// section explore

.explore {
    @include flex-column-center;
    padding: 30px;
    background-color: lighten($background2, 3%);

    &__titre {
        text-align: center;
        align-self: auto;
        font-size: 24px;
    }

    &__text {
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        color: $secondary-color-text;
    }
} 

// ---------fonctionnement---------//

.fonctionnement {
    padding: 40px 20px;

    &__box {
        @include flex-column-center;

        @include breakpoint(desktop) {
            @include flex-row-center;
        }


        &__card {
            @include flex-row-center;
            position: relative;
            box-shadow: $box-shadow;
            background: $background2;
            border-radius: 20px;
            padding: 20px 10px;
            margin: 10px auto 30px;
            max-width: 320px;
            min-width: 290px;



            &__icon {
                color: $icon-color-grey;
                font-size: 20px;
                padding: 0 20px;
                position: absolute;
                left: 10px;

                &--color {
                    color: $primary-color;
                }
            }

            &__number {
                background: $primary-color;
                @include flex-row-center;
                color: white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                position: absolute;
                left: -10px;

            }
        }
    }

}

// --------Restaurants------------//

.restaurants {
    background: $background2;
    padding: 40px 20px;

    &__box {
        width: 100%;
        @include flex-column-center;

        @include breakpoint(tablet) {
            @include flex-row-center;
            flex-wrap: wrap;
            gap: 20px;
        }

        &__card {
            position: relative;
            color: black;
            text-decoration: none;
            width: 100%;
            height: 250px;
            background: white;
            border-radius: 20px;
            margin-bottom: 20px;

            @include breakpoint(tablet) {
                width: 490px;
            }

            &__img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 20px 20px 0 0
            }

            &__new{
                @include newSticker
            }

            &__content {

                @include flex-row-center;
                justify-content: space-between;
                padding: 15px;

                p {
                    font-size: 17px;
                    font-weight: 300;
                }
            }

        }
    }

}