.menuSection {
    background: #F6F6F6;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;

 
    &__title {
        display: flex;
        padding: 20px;
        align-items: center;

        @include breakpoint(desktop) {
            justify-content: center;
        }

        &__restaurant {
            @include menus-titre;
            margin-right: 20px;
        }
    }
}





.menus {
    margin: 0 auto;
    padding: 10px;

    @include breakpoint (desktop) {
        padding: 20px 25%;
    }

    &__type {
        @include menu-type-title;

    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__card {
            @include menu-card;
            overflow: hidden;
            


            &__plat {
            width: 100%;
                &__name, &__info{
                    width: 100%;
                }

                &__info {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 2px;
                    
                    
                }
            }
            &__price {
                align-self: last baseline;
                transform: translatex(0);
                transition: transform 0.5s;
                
            }


            &__check {
                width: 60px;
                height: 100%;
                right: 0;
                background: $tertiary-color;
                border-radius: 0 15px 15px 0;
                @include flex-row-center;
                position: absolute;
                transform: translateX(60px);
                transition: all 0.5s;
                opacity: 0;
                


                &__icon {
                    color: $tertiary-color;
                    background: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    @include flex-row-center;
                }

            }

            &:hover &__check{
                opacity: 1;
                transform: translatex(0);
                transition: all 0.5s;
            }

            &:hover &__price{
                margin-right: 5px;
                transform: translatex(-60px);
                transition: 0.5s;
            } 

            &:hover &__plat__name, &:hover &__plat__info{
                width: calc(100% - 60px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: width 0.5s;
                }
            }
            

            
        }
    }

// animation apparition cartes

@for $i from 1 through 10 {
    .crd-#{$i} {
        opacity: 0;
        transform: translateY(-10px);
        animation: card-pop 2s forwards;
        animation-delay: $i * 0.2s;
    }
}

@keyframes card-pop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}